<h2>
  Start Mining
</h2>
<form>
  <div class = "form-group">
     <label for = "asteroidName">Asteroid Name</label>
     <input type = "text" class = "form-control" id = "asteroidName"
        [(ngModel)] = "model.asteroidName" name = "asteroidName"/>
  </div>
  
  <div class = "form-group">
     <label for = "elementType">Element Type</label>
     <input type = "text" class = "form-control" id = "elementType"
        [(ngModel)] = "model.elementType" name = "elementType"/>
  </div>
  
  <button type="button" (click)="createMining()"  >Submit</button>
</form>
