<!--<tr>
  <td style="padding-right: 80px"><a [routerLink]="['/home']">HOME</a></td>
  <td style="padding-right: 80px"><a [routerLink]="['/add']">ADD MOVIES</a></td>
  <td style="padding-right: 80px"><a [routerLink]="['/edit']">EDIT MOVIES</a></td>

</tr>
-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
    <a class="nav-link" [routerLink]="['/']">HOME</a> 
    </li>
    <li class="nav-item">
    <a class="nav-link" [routerLink]="['/add']">ADD MOVIES</a> 
    </li>
    </ul>
  </nav>
    <!--<a [routerLink]="['/edit']">EDIT MOVIES</a>-->
